<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property resource="application.properties"/>

    <property name="CONSOLE_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %magenta([%thread]) %highlight([%-3level]) %logger{5} - %msg %n"/>
    <property name="ROLLING_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS, Asia/Seoul}  %logger{5} - %msg %n"/>
    <property name="LOG_PATH" value="${logging.file.path:-logs}"/>
    <property name="LOG_LEVEL" value="${logging.level.root:-INFO}"/>
    <property name="FILE_NAME" value="matthew-%d{yyyy-MM-dd-HH-mm, Asia/Seoul}.log"/>
    <property name="LOG_NAME_PATTERN" value="matthew-%d{yyyy-MM-dd-HH, Asia/Seoul}.%i.log"/>
    <property name="MAX_FILE_SIZE" value="10MB"/>
    <property name="TOTAL_SIZE" value="50MB"/>
    <property name="MAX_HISTORY" value="2"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>${CONSOLE_PATTERN}</Pattern>
        </encoder>
    </appender>

    <appender name="ROLLING_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${ROLLING_PATTERN}</pattern>
        </encoder>
        <file>${LOG_PATH}/matthew.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_NAME_PATTERN}</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
            <maxFileSize>${MAX_FILE_SIZE}</maxFileSize>
            <totalSizeCap>${TOTAL_SIZE}</totalSizeCap>
        </rollingPolicy>
    </appender>

    <root level="${LOG_LEVEL}">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ROLLING_LOG_FILE"/>
    </root>

</configuration>

